.progressBar-container {
  height: 30px;
  width: 100%;

}

.progressBar-background {
  background: lightgray;
  border-radius: 5px;
  border: 1px solid;
  height: 30px;
  margin: 50px;
}

.progressBar-bar {
  background: green;
  margin: 5px;
  border-radius: 5px;
  height: 20px;
}

.progress-percentage{
  color: white;
  margin-top: -80px;
  font-weight: bold;
}